<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.z_case_show.mapper.ZCaseShowMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.z_case_show.entity.ZCaseShow">
        <id column="case_show_id" property="caseShowId" />
        <result column="pic_address" property="picAddress" />
        <result column="title" property="title" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        case_show_id AS "caseShowId", pic_address AS "picAddress", title AS "title", remark AS "remark", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.z_case_show.model.result.ZCaseShowResult" parameterType="cn.stylefeng.guns.modular.z_case_show.model.params.ZCaseShowParam">
        select
        <include refid="Base_Column_List"/>
        from z_case_show where 1 = 1
            <if test="paramCondition.caseShowId != null and paramCondition.caseShowId != ''">
                and case_show_id like CONCAT('%',#{paramCondition.caseShowId},'%')
            </if>
            <if test="paramCondition.picAddress != null and paramCondition.picAddress != ''">
                and pic_address like CONCAT('%',#{paramCondition.picAddress},'%')
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.z_case_show.model.params.ZCaseShowParam">
        select
        <include refid="Base_Column_List"/>
        from z_case_show where 1 = 1
            <if test="paramCondition.caseShowId != null and paramCondition.caseShowId != ''">
                and case_show_id like CONCAT('%',#{paramCondition.caseShowId},'%')
            </if>
            <if test="paramCondition.picAddress != null and paramCondition.picAddress != ''">
                and pic_address like CONCAT('%',#{paramCondition.picAddress},'%')
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.z_case_show.model.result.ZCaseShowResult" parameterType="cn.stylefeng.guns.modular.z_case_show.model.params.ZCaseShowParam">
        select
        <include refid="Base_Column_List"/>
        from z_case_show where 1 = 1
            <if test="paramCondition.caseShowId != null and paramCondition.caseShowId != ''">
                and case_show_id like CONCAT('%',#{paramCondition.caseShowId},'%')
            </if>
            <if test="paramCondition.picAddress != null and paramCondition.picAddress != ''">
                and pic_address like CONCAT('%',#{paramCondition.picAddress},'%')
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.z_case_show.model.params.ZCaseShowParam">
        select
        <include refid="Base_Column_List"/>
        from z_case_show where 1 = 1
            <if test="paramCondition.caseShowId != null and paramCondition.caseShowId != ''">
                and case_show_id like CONCAT('%',#{paramCondition.caseShowId},'%')
            </if>
            <if test="paramCondition.picAddress != null and paramCondition.picAddress != ''">
                and pic_address like CONCAT('%',#{paramCondition.picAddress},'%')
            </if>
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
    </select>

</mapper>
