<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.zj_pos_info.mapper.ZjPosInfoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.zj_pos_info.entity.ZjPosInfo">
        <id column="pos_info_id" property="posInfoId" />
        <result column="title" property="title" />
        <result column="job" property="job" />
        <result column="num" property="num" />
        <result column="time" property="time" />
        <result column="location" property="location" />
        <result column="content" property="content" />
        <result column="request" property="request" />
        <result column="salary" property="salary" />
        <result column="settlement_interval" property="settlementInterval" />
        <result column="contact" property="contact" />
        <result column="sort" property="sort" />
        <result column="notice" property="notice" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pos_info_id AS "posInfoId", title AS "title", job AS "job", num AS "num", time AS "time", location AS "location", content AS "content", request AS "request", salary AS "salary", settlement_interval AS "settlementInterval", contact AS "contact", sort AS "sort", notice AS "notice", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.zj_pos_info.model.result.ZjPosInfoResult" parameterType="cn.stylefeng.guns.modular.zj_pos_info.model.params.ZjPosInfoParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_info where 1 = 1
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
            <if test="paramCondition.job != null and paramCondition.job != ''">
                and job like CONCAT('%',#{paramCondition.job},'%')
            </if>
            <if test="paramCondition.location != null and paramCondition.location != ''">
                and location like CONCAT('%',#{paramCondition.location},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.zj_pos_info.model.params.ZjPosInfoParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_info where 1 = 1
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
            <if test="paramCondition.job != null and paramCondition.job != ''">
                and job like CONCAT('%',#{paramCondition.job},'%')
            </if>
            <if test="paramCondition.location != null and paramCondition.location != ''">
                and location like CONCAT('%',#{paramCondition.location},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.zj_pos_info.model.result.ZjPosInfoResult" parameterType="cn.stylefeng.guns.modular.zj_pos_info.model.params.ZjPosInfoParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_info where 1 = 1
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
            <if test="paramCondition.job != null and paramCondition.job != ''">
                and job like CONCAT('%',#{paramCondition.job},'%')
            </if>
            <if test="paramCondition.location != null and paramCondition.location != ''">
                and location like CONCAT('%',#{paramCondition.location},'%')
            </if>
    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.zj_pos_info.model.params.ZjPosInfoParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_info where 1 = 1
            <if test="paramCondition.title != null and paramCondition.title != ''">
                and title like CONCAT('%',#{paramCondition.title},'%')
            </if>
            <if test="paramCondition.job != null and paramCondition.job != ''">
                and job like CONCAT('%',#{paramCondition.job},'%')
            </if>
            <if test="paramCondition.location != null and paramCondition.location != ''">
                and location like CONCAT('%',#{paramCondition.location},'%')
            </if>
    </select>

</mapper>
