<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.stylefeng.guns.modular.zj_pos_type.mapper.ZjPosTypeMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="cn.stylefeng.guns.modular.zj_pos_type.entity.ZjPosType">
        <id column="pos_type_id" property="posTypeId" />
        <result column="name" property="name" />
        <result column="sort" property="sort" />
        <result column="remark" property="remark" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        pos_type_id AS "posTypeId", name AS "name", sort AS "sort", remark AS "remark", create_time AS "createTime", update_time AS "updateTime", create_user AS "createUser", update_user AS "updateUser"
    </sql>


    <select id="customList" resultType="cn.stylefeng.guns.modular.zj_pos_type.model.result.ZjPosTypeResult" parameterType="cn.stylefeng.guns.modular.zj_pos_type.model.params.ZjPosTypeParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_type where 1 = 1
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
    </select>

    <select id="customMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.zj_pos_type.model.params.ZjPosTypeParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_type where 1 = 1
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
    </select>

    <select id="customPageList" resultType="cn.stylefeng.guns.modular.zj_pos_type.model.result.ZjPosTypeResult" parameterType="cn.stylefeng.guns.modular.zj_pos_type.model.params.ZjPosTypeParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_type where 1 = 1
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>

    </select>

    <select id="customPageMapList" resultType="map" parameterType="cn.stylefeng.guns.modular.zj_pos_type.model.params.ZjPosTypeParam">
        select
        <include refid="Base_Column_List"/>
        from zj_pos_type where 1 = 1
            <if test="paramCondition.name != null and paramCondition.name != ''">
                and name like CONCAT('%',#{paramCondition.name},'%')
            </if>
    </select>

</mapper>
